<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Targetplatform -->
      <package
            uri="fr.obeo.releng.targetplatform"
            class="fr.obeo.releng.targetplatform.TargetPlatformPackage"
            genModel="model/TargetPlatform.xcore"/>
   </extension>

  <extension
        id="targetPlatform.converter"
        point="org.eclipse.core.runtime.applications">
     <application
           cardinality="singleton-global"
           thread="main"
           visible="true">
        <run
              class="fr.obeo.releng.targetplatform.pde.ConverterApplication">
        </run>
     </application>
  </extension>

</plugin>
