<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Default (clean build) Target Platform" sequenceNumber="1662208210">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository location="https://download.eclipse.org/cbi/updates/license/2.0.2.v20181016-2210"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.ui.feature.group" version="2.27.0.v20220530-0508"/>
      <unit id="org.eclipse.xtext.xtext.ui.feature.group" version="2.27.0.v20220530-0508"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="2.27.0.v20220530-0508"/>
      <unit id="org.eclipse.xtext.testing" version="2.27.0.v20220530-0355"/>
      <unit id="org.eclipse.xtext.junit4" version="2.27.0.v20220530-0416"/>
      <unit id="org.eclipse.xtext.xbase.testing" version="2.27.0.v20220530-0402"/>
      <unit id="org.eclipse.xtext.xbase.junit" version="2.27.0.v20220530-0416"/>
      <unit id="org.eclipse.xtext.generator" version="2.27.0.v20220530-0402"/>
      <unit id="org.objectweb.asm" version="9.3.0.v20220409-0157"/>
      <repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.27.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore" version="2.28.0.v20220817-1401"/>
      <unit id="org.eclipse.emf.ecore.xcore.lib" version="1.6.0.v20210405-0628"/>
      <repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.31"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.pde.junit.runtime" version="3.6.200.v20220523-1051"/>
      <unit id="org.eclipse.jdt.junit4.runtime" version="1.2.0.v20210326-1251"/>
      <unit id="org.eclipse.platform.feature.group" version="4.24.0.v20220607-0700"/>
      <unit id="org.eclipse.pde.core" version="3.15.200.v20220527-1237"/>
      <unit id="org.eclipse.equinox.p2.core" version="2.9.100.v20220310-1733"/>
      <unit id="org.eclipse.equinox.p2.repository" version="2.6.100.v20220422-1806"/>
      <unit id="org.eclipse.equinox.p2.metadata" version="2.6.200.v20220324-1313"/>
      <unit id="org.eclipse.jdt.launching" version="3.19.600.v20220409-1932"/>
      <repository location="https://download.eclipse.org/eclipse/updates/4.24/R-4.24-202206070700"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.xcore" version="1.21.0.v20220426-0617"/>
      <repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.30"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.launch" version="2.13.0.v20220519-1115"/>
      <unit id="org.eclipse.emf.mwe.core" version="1.7.0.v20220519-1115"/>
      <unit id="org.eclipse.emf.mwe2.lib" version="2.13.0.v20220519-1115"/>
      <repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.13.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
      <repository location="https://download.itemis.de/updates/releases/2.1.1"/>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
