<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="targetplatform"
            id="fr.obeo.releng.TargetPlatform"
            name="TargetPlatform Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="fr.obeo.releng.TargetPlatform.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="fr.obeo.releng.TargetPlatform.validate">
         <activeWhen>
            <reference
                    definitionId="fr.obeo.releng.TargetPlatform.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="fr.obeo.releng.TargetPlatform.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="fr.obeo.releng.TargetPlatform" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="fr.obeo.releng.TargetPlatform"
            name="TargetPlatform">
            <keywordReference id="fr.obeo.releng.ui.keyword_TargetPlatform"/>
        </page>
        <page
            category="fr.obeo.releng.TargetPlatform"
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="fr.obeo.releng.TargetPlatform.coloring"
            name="Syntax Coloring">
            <keywordReference id="fr.obeo.releng.ui.keyword_TargetPlatform"/>
        </page>
        <page
            category="fr.obeo.releng.TargetPlatform"
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="fr.obeo.releng.TargetPlatform.templates"
            name="Templates">
            <keywordReference id="fr.obeo.releng.ui.keyword_TargetPlatform"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="fr.obeo.releng.TargetPlatform"
            name="TargetPlatform">
            <keywordReference id="fr.obeo.releng.ui.keyword_TargetPlatform"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="fr.obeo.releng.ui.keyword_TargetPlatform"
            label="TargetPlatform"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="fr.obeo.releng.TargetPlatform.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="fr.obeo.releng.TargetPlatform.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="fr.obeo.releng.TargetPlatform.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="fr.obeo.releng.TargetPlatform.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="fr.obeo.releng.TargetPlatform.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

    <!-- marker definitions for fr.obeo.releng.TargetPlatform -->
    <extension
            id="targetplatform.check.fast"
            name="TargetPlatform Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="targetplatform.check.normal"
            name="TargetPlatform Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="targetplatform.check.expensive"
            name="TargetPlatform Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="fr.obeo.releng.TargetPlatform"
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="fr.obeo.releng.TargetPlatform.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="fr.obeo.releng.ui.keyword_TargetPlatform"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="fr.obeo.releng.TargetPlatform"
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="fr.obeo.releng.TargetPlatform.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="fr.obeo.releng.ui.keyword_TargetPlatform"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="fr.obeo.releng.TargetPlatform.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="fr.obeo.releng.TargetPlatform.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for fr.obeo.releng.TargetPlatform -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="fr.obeo.releng.ui.targetplatform.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="fr.obeo.releng.ui.targetplatform.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="fr.obeo.releng.ui.targetplatform.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="fr.obeo.releng.TargetPlatform.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="fr.obeo.releng.TargetPlatform.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="fr.obeo.releng.TargetPlatform"
	        class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="fr.obeo.releng.TargetPlatform.refactoring"
	        name="Refactoring">
	        <keywordReference id="fr.obeo.releng.ui.keyword_TargetPlatform"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="fr.obeo.releng.TargetPlatform.compare.contentViewers"
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="targetplatform">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="fr.obeo.releng.TargetPlatform.compare.contentMergeViewers"
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="targetplatform" label="TargetPlatform Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="fr.obeo.releng.TargetPlatform.editors.documentProviders"
            class="fr.obeo.releng.ui.TargetPlatformExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="targetplatform">
    </provider>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="fr.obeo.releng.targetplatform.ui.handler.ConvertTargetPlatform"
           commandId="fr.obeo.releng.targetplatform.ui.convertTargetPlatform">
        <activeWhen>
           <with
                 variable="selection">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.core.resources.IFile">
                 </instanceof>
                 <adapt
                       type="org.eclipse.core.resources.IFile">
                    <test
                          property="org.eclipse.core.resources.extension"
                          value="targetplatform">
                    </test>
                 </adapt>
              </iterate>
           </with>
        </activeWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="fr.obeo.releng.targetplatform.ui.convertTargetPlatform"
           name="Create Target Definition File">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="fr.obeo.releng.targetplatform.ui.convertTargetPlatform"
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>

</plugin>
