<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension
        id="tpd.converter"
        point="org.eclipse.core.runtime.applications">
     <application
           cardinality="singleton-global"
           thread="main"
           visible="true">
        <run
              class="org.eclipse.cbi.targetplatform.pde.ConverterApplication">
        </run>
     </application>
  </extension>

</plugin>
