<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Target Platform DSL 2.1.0" sequenceNumber="1403994546">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.7.1.R37x_v20110907-9N7sHDdGIUw3H-591a16Tcf5FePP"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.0.1.R37x_v20110907-7H7KFD6BpeIkWN-XxegWjHnQa9Df"/>
      <unit id="org.eclipse.sdk.feature.group" version="3.7.2.r37x_v20111213-7Q7xALDPb32vCjY6UACVPdFTz-icPtJkUadz0lMmk4z-8"/>
      <repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130610-0406"/>
      <unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.1.0.v20130612-0809"/>
      <repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.9"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.ui.feature.group" version="2.6.1.v201406120726"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="2.6.1.v201406120726"/>
      <unit id="org.eclipse.xtext.junit" version="2.6.1.v201406120726"/>
      <unit id="org.eclipse.xtext.junit4" version="2.6.1.v201406120726"/>
      <unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/head/R201406120726/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
      <repository location="http://download.itemis.de/updates"/>
    </location>
  </locations>
</target>
