/.LocationIndexBuilder.java._trace
/LocationIndexBuilder.java
/.CompositeElementResolver.java._trace
/.ImportVariableManager2.java._trace
/.ImportVariableManager.java._trace
/.CompositeElementResolver.xtendbin
/.LocationIndexBuilder.xtendbin
/CompositeElementResolver.java
/.TargetReloader.java._trace
/.TargetReloaderImpl.java._trace
/.CompositeElementResolver2.java._trace
/.ReferenceResolvingErrorClearer.java._trace
